
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<html class="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Đăng Ký - Milk Tea DoubleTee</title>

    <link href="//fonts.googleapis.com/css2?family=Manrope:wght@200;400;600&amp;display=swap" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/Content/Layout/bundles/css/style-starter.css">
</head>

<body>
    <!--header-->
    <!--/header-->

    <div class="inner-banner">
    </div>
    <section class="w3l-breadcrumb">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a href="https://localhost:44310/Home/Index">Trang Chủ</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span>Đăng Ký</li>
            </ul>
        </div>
    </section>
    <!-- /contact-form -->
    <section class="w3l-contact-6 py-5" id="contact">
        <div class="contact-info  py-lg-4 py-md-3">
            <div class="container">
                <div class="title-content mb-5">
                    <h5 class="title-small text-center mb-2">Đăng Ký</h5>
                </div>

                

                <div class="grid contact-grids pt-3">
                    <div class="contact-left">
                        <div class="grid">
                            <span class="fa fa-map-marker"></span>
                            <div class="location-info">
                                <span>Trụ sở chính:</span>
                                <p> Số 1 Võ Văn Ngân, Linh Chiểu, Thủ Đức </p>
                                <p>Trường Đại học Sư phạm Kỹ thuật</p>
                                <p>Thành phố Hồ Chí Minh, Việt Nam.</p>
                            </div>
                        </div>
                        <div class="grid">
                            <span class="fa fa-envelope-o"></span>
                            <div class="email-info">
                                <span>Giải đáp thắc mắc:</span>
                                <a href="mailto:18110203@student.hcmute.edu.vn">18110203@student.hcmute.edu.vn</a>
                                <a href="mailto:18110205@student.hcmute.edu.vn">18110205@student.hcmute.edu.vn</a>
                            </div>
                        </div>
                        <div class="grid">
                            <span class="fa fa-phone"></span>
                            <div class="email-info">
                                <span>Số điện thoại tư vấn:</span>
                                <a href="tel: 0968892926"> (+84) 968892926</a><br>
                                <a href="tel: 0971507613"> (+84) 971507613</a>
                            </div>
                        </div>
                    </div>
                    <div class="contacts12-main">
                        <form method="post" class="signin-form" id="signin-form">

                            <p style="color:red;">@ViewBag.user</p>

                            <div class="form-group">
                                <label class="form-field" for="w3lName">Họ và tên:</label>
                                <input type="text" name="name" id="name" placeholder="Họ và tên của bạn">
                                <p style="color:red;" id="TB_name"></p>
                            </div>

                            <div class="input-grids">
                                <div>
                                    <label class="form-field" for="w3lName">Địa chỉ:</label>
                                    <input type="text" name="diachi" id="diachi" placeholder="Địa chỉ của bạn" class="contact-input">
                                    <p style="color:red;" id="TB_diachi"></p>
                                </div>



                                <div>
                                    <label class="form-field" for="w3lName">Số điện thoại:</label>
                                    <input type="text" name="sdt" id="sdt" placeholder="Số điện thoại của bạn" class="contact-input">
                                    <p style="color:red;" id="TB_sdt"></p>
                                </div>

                            </div>

                            <div class="input-grids">
                                <div>
                                    <label class="form-field" for="w3lName">Tài khoản:</label>
                                    <input type="text" name="taikhoan" id="taikhoan" placeholder="Tài khoản" class="contact-input">
                                    <p style="color:red;" id="TB_taikhoan"></p>
                                </div>



                                <div>
                                    <label class="form-field" for="w3lName">Email:</label>
                                    <input type="email" name="email" id="email" placeholder="Email của bạn" class="contact-input">
                                    <p style="color:red;" id="TB_email"></p>
                                </div>

                            </div>

                            <div class="input-grids">
                                <div>
                                    <label class="form-field" for="w3lSubect">Mật khẩu:</label>
                                    <input type="password" name="pass" id="pass" placeholder="Mật khẩu" class="contact-input">
                                    <p style="color:red;" id="TB_pass"></p>
                                </div>

                                <div>
                                    <label class="form-field" for="w3lSubect">Nhập lại mật khẩu:</label>
                                    <input type="password" name="passagain" id="passagain" placeholder="Nhập lại mật khẩu" class="contact-input">
                                    <p style="color:red;" id="TB_passagain"></p>
                                </div>
                            </div>


                            <div class="signup-image">
                                <h2><a href="https://localhost:44310/Login/Login" class="signup-image-link">Đăng nhập</a></h2>
                            </div>

                            <div class="text-right">
                                <button class="btn btn-style btn-primary submit" id="btnDangKy">Đăng ký</button>
                            </div>



                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //contact-form -->
    <!-- /contact-map -->
    <!-- //contact-map -->
    <!-- Template JavaScript -->
    <script src="~/Content/Layout/bundles/js/jquery-3.3.1.min.js"></script>

    <!-- script for testimonials -->
    <script>
        $(document).ready(function () {
            $('.owl-testimonial').owlCarousel({
                loop: true,
                margin: 0,
                nav: true,
                responsiveClass: true,
                autoplay: false,
                autoplayTimeout: 5000,
                autoplaySpeed: 1000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    480: {
                        items: 1,
                        nav: false
                    },
                    667: {
                        items: 1,
                        nav: true
                    },
                    1000: {
                        items: 1,
                        nav: true
                    }
                }
            })
        })
    </script>
    <!-- //script for testimonials -->

    <script src="~/Content/Layout/bundles/js/theme-change.js"></script>

    <script src="~/Content/Layout/bundles/js/owl.carousel.js"></script>
    <!-- script for banner slider-->
    <script>
        $(document).ready(function () {
            $('.owl-one').owlCarousel({
                loop: true,
                margin: 0,
                nav: false,
                responsiveClass: true,
                autoplay: false,
                autoplayTimeout: 5000,
                autoplaySpeed: 1000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    480: {
                        items: 1,
                        nav: false
                    },
                    667: {
                        items: 1,
                        nav: true
                    },
                    1000: {
                        items: 1,
                        nav: true
                    }
                }
            })
        })
    </script>
    <!-- //script -->
    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- disable body scroll which navbar is in active -->
    <!--/MENU-JS-->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!--//MENU-JS-->

    <script src="~/Content/Layout/bundles/js/bootstrap.min.js"></script>



</body>


</html>


@*Kiểm tra validation thông qua jquery*@
<script>
    $("#btnDangKy").click(function () {
        var error = 0;
        if ($("#name").val() == "") {
            $("#TB_name").text("Chưa nhập tên khách hàng!");
            error++;
        }
        else {

            $("#TB_name").text("");
        }

        if ($("#diachi").val() == "") {
            $("#TB_diachi").text("Chưa nhập tên địa chỉ!");
            error++;
        }
        else {
            $("#TB_diachi").text("");
        }

        if ($("#taikhoan").val() == "") {
            $("#TB_taikhoan").text("Chưa nhập tài khoản!");
            error++;
        }
        else {
            $("#TB_taikhoan").text("");
        }

        //dinhdang = /^[0-9A-Za-z]+[0-9A-Za-z_]*@@[\w\d.]+\.\w{2,4}$/;
        //KTEmail = dinhdang.test($('#email').val());
        //if (!KTEmail) {
        //    $('#TB_email').text("Email chưa nhập hoặc không hợp lệ!");
        //    error++;

        //}



        if ($("#sdt").val() == "") {
            $("#TB_sdt").text("Chưa nhập số điện thoại!");
            error++;
        }
        else {

            $("#TB_sdt").text("");
        }

        if ($("#pass").val() == "") {
            $("#TB_pass").text("Chưa nhập mật khẩu!");
            error++;
        }

        else if ($("#pass").val() != $("#passagain").val()) {
            $("#TB_pass").text("Xác nhận lại mật khẩu chưa đúng!");
            error++;
        }

        else {
            $("#TB_pass").text("");
        }

        if ($("#passagain").val() == "") {
            $("#TB_passagain").text("Chưa xác nhận lại mật khẩu!");
            error++;
        }


        else {
            $("#TB_passagain").text("");
        }

        if (error != 0) {
            //Ngăn submit dữ liệu lên sql
            return false;
        }

    });

</script>


